
# USB
set_io usb_dp    B4
set_io usb_dn    A4
set_io usb_dp_pu   A3


# XTAL 16MHZ
set_io oscillator     B2

# LED
set_io LED    B3

set_io SCLK   G7   # Flash SCK
set_io MISO   H7   # Flash MISO
set_io MOSI   G6   #  Flash MOSI
set_io SS     F8   # Flash CS


# Right side of board
set_io --warn-no-port PORTA0 H9  #PIN_14
set_io --warn-no-port PORTA1 D9
set_io --warn-no-port PORTA2 D8
set_io --warn-no-port PORTA3 C9
set_io --warn-no-port PORTA4 A9
set_io --warn-no-port PORTA5 B8
set_io --warn-no-port PORTA6 A8
set_io --warn-no-port PORTA7 B7
set_io --warn-no-port PORTA8 A7
set_io --warn-no-port PORTA9 B6
set_io --warn-no-port PORTA10 A6


#Left
set_io --warn-no-port PORTA11 J1
set_io --warn-no-port PORTA12 H2
set_io --warn-no-port PORTA13 G2
set_io --warn-no-port PORTA14 H1

#Bottom
set_io --warn-no-port PORTA15 G1
